*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* share style */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav h2{
    font-size: 45px;
    font-weight:700 ;
}
.logo{
    color:#FD6E0A ;
}
.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;  
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}
.icon{
    margin-right: 10px;
}
/* main style*/
header{
    background-color: #FFF8F3;
    background: url(images/developer.png) , url(images/header_bg.png) ,#FFF8F3;
    background-position:23px 38px, bottom right  ;
    background-repeat: no-repeat;
    width: 100%;
}
nav{
    width: 1220px; /* the width should be set **/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
nav .menu{
    display: flex;
    align-items: center;
    gap: 51px;
}
nav li, a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.banner{
    /* border: 1px solid; */
    margin: 46px 38px 0px 230px ;
    display: flex;
   /*  justify-content: space-between; */
    align-items: center;
    max-width: 1220px; /* the width should be set **/
    margin: 0 auto;  /* margin auto **/
    gap: 163px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
     margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-content{
    max-width: 585px;
}
.btn-contact{
     padding: 18px 35px;
   border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    gap: 30px;
    background-color: #FFF8F3;
}
.button-div{
    display: flex;
    gap: 30px;
}
.banner .banner-image img{
    max-width:584px ;
    vertical-align: middle;
}